
/*
joomla layout  
*/





@include breakpoint($medium) {
	#sidebar {
		@include span(2 of 10);
		transition: all 1.5s ease-in-out;
		background: #888;
	}
	#content {
		@include span(8 of 10 last);
		transition: all 1.5s ease-in-out;
		@include clearfix;
		background: #aaa;
	}
	.right-sidebar {
		@include span(1 of 1 last);
		transition: all 1.5s ease-in-out;
		background: #d44;
	}
}
@include breakpoint($large) {
	#sidebar {
		@include span(2 of 12);
		transition: all 1.5s ease-in-out;
		background: #eee;
	}
	#content {
		@include span(8 of 12);
		transition: all 1.5s ease-in-out;
		@include clearfix;
		background: #ddd;
	}
	.right-sidebar {
		@include span(2 of 12 last);
		transition: all 1.5s ease-in-out;
		background: #aaa;
	}
}
@include breakpoint($exLarge) {
	#sidebar {
		@include span(3 of 12);
		transition: all 1.5s ease-in-out;
		background: #eee;
	}
	#content {
		@include span(6 of 12);
		transition: all 1.5s ease-in-out;
		@include clearfix;
		background: #ddd;
	}
	.right-sidebar {
		@include span(3 of 12 last);
		transition: all 1.5s ease-in-out;
		background: #aaa;
	}
}

/*
END joomla layout
*/

